.result-tab-wrapper {
  width: 100%;
  background-color: #272729;
  border-bottom: 1px solid black;
}

.result-tab {
  width: 80%;
  display : flex;
  justify-content: space-between;
  margin: auto;
}

.left-side {
  color : white;
}

.sorting {
  display: flex;
  align-items: center;
}

.sorting p {
  margin-right: 10px;
  color : white;
}